.headerName {
    text-align: center !important;
    color: #072145;
    font-size: 2em;
    padding-top: 7%;
}

.header {
    display: block;
    justify-content: center;
    align-items: center;
    /* padding-top: 2%; */
    padding-bottom: 2%;
    width: 100%;
}

.appMenu {
    justify-content: center;
    align-items: center;
    /* width: fit-content; */
}