.headerName {
    text-align: center !important;
    color: #072145;
    font-size: 2em;
    padding-top: 7%;
}

.header {
    display: block;
    justify-content: center;
    align-items: center;
    /* padding-top: 2%; */
    padding-bottom: 2%;
    width: 100%;
    position: fixed;
    margin-bottom: 10% !important;
}

.appMenu {
    justify-content: center;
    align-items: center;
    /* width: fit-content; */
}

.ant-menu {
    background-color: #ffffffbc;
}

.ant-menu-item {
    color: #072145;
    /* font-size: 1em; */
}

.headerLinksContainer {
    position: absolute;
    right: 0;
    margin-right: 2%;
    top: 0;
    padding-top: 2%;
    width: 10%;
}

.headerSocialIcon {
    color: #072145;
    font-size: 1.5em;
    margin-right: 10%;
}
