.aboutHeader {
    color: #072145;
    width: fit-content;
    margin-bottom: 2% !important;
}

.aboutContainer {
    padding: 2%;
}

.aboutImage {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-bottom: 2% !important;
    z-index: 1 !important;
}

.aboutText {
    margin: 0 auto;
    width: 80%;
    color: #072145;
    font-size: 1em;
    margin-bottom: 5% !important;
}

.typewriter-about {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid #e8e2cf; The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
        typing 5s steps(40, end),
        blink-caret 0.8s step-end infinite;
}

/* The typing effect */
  /* @keyframes typing {
    from { width: 0 }
    to { width: 35% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #e8e2cf; }
  } */


@media screen and (max-width: 820px) {
    .aboutImage {
        width: 80%;
        height: 80%;
    }
}
/* 
@media screen and (max-width: 500px) {
    .typewriter {
        animation: 
            typing 3s steps(30, end),
            blink-caret 0.5s step-end infinite;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 50% }
      }
      
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #e8e2cf; }
      }
} */