.socialIcon {
    font-size: 150%;
    margin: 0 2%;
    color: #ffffff;
}

.socialIcon:hover {
    color: #0d3c7d;
}

.footer {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 2%;
    bottom: 0 !important;
    position: fixed;
    width: 100%;
}
